.title-employee-list {
	font-size: 1.2em;
	text-align:left;
	padding-top:5px;
}


.employee-list {
	list-style-type: none; 
	padding-left:0px;
	margin-left:20px;
	width: 1100px  !important;
	
}

.row {
	margin-left:0px !important;
	margin-right:0px !important;
}
.show {
	display:block !important;
}

.modal-body {
	text-align:left;
}

.grid {
    list-style-position:inside;
    border: 1px solid gray;
	box-sizing: border-box;
}

#btnAddEmployee {
	padding-top:5px !important;
}

