.project-tasks-title {
	font-weight: bold;
	font-size: 1.4em;
}

.task-column-title {
	font-weight: bold;
	font-size: 1.2em;
}

.show {
	display:block !important;
}


.todos-content {
	height:350px;
	overflow: auto;
}